@model IEnumerable<Route66TurmaB.Models.Noticia>
@{
    ViewBag.Title = "Home Page";
}
<h1>I LOVE U LITTLE ENILDIDINHO</h1>
<h2>Rotas:</h2>
<div>
    <ul>
        @foreach (string item in ViewBag.Categorias)
         {
            <li>
                @Html.ActionLink(item, "MostraCategoria", "Home", new { @categoria = item }, null);
            </li>
         }
    </ul>
</div>
<div>
    <h2>Últimas notícias</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Titulo, "MostraNoticia", "Home", new
                {
                   @NoticiaId = item.NoticiaId,
                   @Categoria = item.Categoria.ToLower(),
                   @Titulo = item.Titulo.ToLower()
                }, null);

                <em>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </em>
                <b>
                    @Html.DisplayFor(modelItem => item.Data)
                </b>
            </li>
        }
    </ul>
</div>
<div>
    @Html.ActionLink("Todas as notícias", "Noticia", "Home")
</div>